@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3{
    @apply font-bold tracking-tight
}
h1{
    @apply text-4xl;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,0.3);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.4);
  }